<section class="ishiservicesblock col-xs-12 col-sm-12 col-lg-6 col-md-12">
        {% if showtitle == 1 %}
            <div class="subtitle">{{ subtitle }}</div>
            <h3 class="home-title">{{ title }}</h3>
        {% endif %}
        <div class="ishiservices">
            {% for ishiservice in ishiservices %}
                <div class="services {{ class }}">
                    <div class="services-part">
                        <a href="#">
                            <div class="service-img">
                                <span style="background-image: url({{ ishiservice.image }});"></span>
                            </div>
                            <div class="service-block">
                                <div class="service-title">{{ ishiservice.title }}</div>
                                <div class="service-desc">{{ ishiservice.description }}</div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
</section>
