<section id="{{ ishi_randomnumer }}" class="ishiparallaxbannerblock">
	<div class="parallax_banner {{ parallax }}" data-source-url="{{ bgimage }}" style="background-image: url({{ bgimage }});" data-deal="{{ deal }}">
		<div class="container">
			<div class="row">
				{{ html }}	
			</div>
		</div>
	</div>
</section>
<style>
	#{{ ishi_randomnumer }}{
		background: {{ bg_color }};
	}
</style>