<div id="_mobile_column_left" class="container"></div>
<div id="_mobile_column_right" class="container"></div>
<footer id="footer" class="{{ ishome }}">
    <div class="footer-before">
      <div class="container">
        <div class="row">
          <div id="_desktop_contact">       
            <div class="block_contact col-lg-4 col-md-4 col-sm-12">
              <div class="footer-title clearfix  hidden-lg hidden-md collapsed" data-target="#contact-info-container" data-toggle="collapse">
                <span class="h3">{{ text_storeinformation }}</span>
                <span class="navbar-toggler collapse-icons">
                  <i class="fa fa-angle-down add"></i>
                  <i class="fa fa-angle-up remove"></i>
                </span>
              </div>
              <div id="contact-info-container" class="collapse footer-dropdown">
                <div class="block-contact"> 
                  <div class="row">
                   {% if storetelephone %}
                    <div class="block phone col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <span class="icon"><i class="fa fa-phone"></i></span>
                      <div class="content">
                        <div class="phone-title hidden-md-down">{{ text_contact }}</div>
                        <a href="#">{{ storetelephone }}</a>
                      </div>
                    </div>
                    {% endif %} 
                    {% if storeemail %}
                    <div class="block email col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <span class="icon"><i class="fa fa-envelope"></i></span>
                      <div class="content">
                        <div class="email-title hidden-md-down">{{ text_email }}</div>
                        <a href="mailto:{{ storeemail }}">{{ storeemail }}</a>
                      </div>
                    </div>
                    {% endif %} 
                    {% if storeaddress %}
                    <div class="block address col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <span class="icon"><i class="fa fa-map-marker"></i></span>
                      <div class="content"> 
                        <div class="address-title hidden-md-down">{{ text_address }}</div> 
                        <a>{{ storeaddress }}</a>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="footermiddle col-lg-4 col-md-4 col-sm-12">
            <div class="ishistoreinfoblock">
                <div id="ishistoreinfo-container" class="ishistoreinfo-inner">
                  <a href="{{ storehome }}" class="store-logo">
                  <img src="{{ footerlogo }}" alt="footer-logo">
                  </a>
                  <div class="store-description">
                    <p>{{ storecomment }}</p>
                  </div>
                </div>
            </div>
            {{ footermiddle }}
            <div id="_mobile_contact"></div>
          </div>
          <section class="account col-lg-4 col-md-4 col-sm-12 footer-block">
              <h5 class="hidden-sm hidden-xs">{{ text_account }}</h5>
              <div class="footer-title clearfix  hidden-lg hidden-md collapsed" data-target="#account-container" data-toggle="collapse">
                <span class="h3">{{ text_account }}</span>
                <span class="navbar-toggler collapse-icons">
                  <i class="fa fa-angle-down add"></i>
                  <i class="fa fa-angle-up remove"></i>
                </span>
              </div>
              <div id="account-container" class="collapse footer-dropdown">
                <ul class="list-unstyled">
                <li><a href="{{ account }}">{{ text_myaccount }}</a></li>
                  <li><a href="{{ order }}">{{ text_order }}</a></li>
                  <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                  <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                  <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                </ul>
              </div>
          </section>  
        </div>
      </div>
    </div>
    <div class="footer-after">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-aftertext">
            <p>{{ powered }}</p>
           </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              {{ footerafter }}
          </div>
        </div>
      </div>
    </div>
    <a id="slidetop" href="#" ></a>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>